*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 2s;
}
/* Header Section  */

#header {
   position: relative;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#header::before{
    content: "";
    background-color: rgb(34, 32, 32);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    /* opacity: 0.5; */
}
.logo{
   
    margin: 15px 20px;
}

#searchBar{
   /* display: flex; */
   margin: 0px 40px 0px 0px;
}
#searchBar input{
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;   
}
#searchBar .btn{
    padding: 5px;
    width: 70px;
    background-color:white;
    text-align: center;
    font-weight: bold;
}
#searchBar .btn:hover{
    background-color: rgb(250, 37, 37);
}

#navigation ul{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgb(59, 57, 57);
}
ul li{
    list-style: none;
    margin: 0px 0px 0px 10px;

}
ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:18px;
    padding: 5px 10px;
}


ul li a:hover{
    color:rgb(250, 37, 37)
}
ul li a #active-link:visited{
    color:rgb(250, 37, 37)
}
#home{
    display: flex;
    position: relative;
    top: 0px;
    justify-content: start;
    width: 100vw;
    height: 100px;
    
    background-color: black;
    flex-direction: column;
    /* padding: 3px 150px; */
    align-items: start;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    background-image: linear-gradient(rgba(12,11,11,0.5), rgba(12,11,11,0.5)), url("./../image/bannerFashion.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width: 100vw;
    height: 278px;
    z-index: -1;
    opacity: 0.8;
    
}
#home #title{
   font-size: 35px;
   font-weight: bold;
   margin-top: 30px;
   margin-left: 50px;
   /* margin-bottom: 20px; */
   padding: 0px 0px 10px 40px;
}
#home hr{
    color:rgb(70, 69, 69);
}

#banner{
    height: 350px;
    position: relative;
    top: 0px;
   
}
#banner::before{
    content: "";
    position: absolute;
    top: 0;
    background-image: url("./../image/bannerFashion.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    z-index: -1;
}
#hero-caption{
    /* margin-top: 30px; */
    padding: 10px 245px;
    color: white;
}
#hero-caption #year{
    font-family: 'Spline Sans', sans-serif;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 5px;
    color:rgb(250, 37, 37);
    text-decoration: underline;
}
#hero-caption #caption{
    /* padding: 20px 40px; */
    margin-bottom: 5px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 50px;

    color: rgb(250, 37, 37);
}

.btn-group{
    display: block;
    /* width: 20px; */
    margin: 35px 30px;
}
.btn-group #btn-shop{
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    color:white;
    font-family: 'Roboto Mono', monospace;
    padding: 15px 25px;
    background-color:rgb(250, 37, 37);
}
.btn-group #btn-learn{
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    color:white;
    font-family: 'Roboto Mono', monospace;
    background: transparent;
    margin-left: 10px;
    padding: 15px 25px;

}
.btn-group #btn-shop:hover{
    background-color:rgb(236, 38, 38)
}
.btn-group #btn-learn:hover{
    background-color:rgb(236, 38, 38)
}

.service{
    display:flex;
    position: relative;
    top: 0px;
    width: 100%;
    height: 75px;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-around;
    color: white;
    font-family: 'Roboto Mono', monospace;
    
}
.service::before{
    content: "";
    background-color:rgb(236, 38, 38);
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 80px;
    z-index: -1;
}

#product-section {
    background-color: white;
}

#product-section #title-section-name {
    text-align: center; 
    padding: 30px 45px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 700px; */
}
.product .card{
    margin: 20px 20px;
    border: 1px solid red;
    width: 250px;
    height: 430px;
    
}

.product .card img{
    width: 248px;
    /* height: 0px; */
    /* object-fit: fill; */
}
.product .card #card-body{
    margin: 10px 10px;
}
.card #card-body #card-title{
    padding: 15px 10px;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.card #card-body #product-desc{
    font-family: 'Spline Sans', sans-serif;
    padding: 0px 9px;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 10px;
}
.card #card-body #product-price{
      /* padding: 10px 15px; */
      font-size: 25px;
      font-family: 'Spline Sans', sans-serif;
      padding: 0px 10px;
      text-decoration: underline;
      margin: 0px 0px;
}
.card #card-body #btn{
    display: block;
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    color:white;
    font-family: 'Roboto Mono', monospace;
    margin: 5px 10px;
    padding: 15px 25px;
    background-color:rgb(250, 37, 37);
    font-weight: bold;
    font-size: 20px;
}
.card #card-body #btn:hover{
    background-color:white;
    border:1px solid rgb(250, 37, 37);
    color:rgb(250, 37, 37);
}

#contact{
    /* background-image: url('./../image/contact.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    padding: 49px 0px 0px 0px;
    height: 698px;
    top: 0px;
}
#contact::before{
    content: "";
    position: absolute;
    top: 0px;
    background-image: url('./../image/contact.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
#contact-title{
    padding: 10px 10px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 34px 0px 
}
.contact-box input,
 .contact-box textarea{
     margin-top: 5px;
     margin-bottom: 10px;
     width: 70vw;
     padding: 10px;
     font-family: 'Roboto Mono', monospace;
     font-weight: bold;
     font-size: 15px;
}
#contact form{
    width: 70vw;
}
.contact-box label{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 15px;
    color: white;
}
#btn-submit {
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    color:white;
    font-family: 'Roboto Mono', monospace;
    padding: 15px 25px;
    background-color:rgb(250, 37, 37);
    margin-left: 180px;
}
#btn-submit:hover{
    background-color:white;
    border:1px solid rgb(250, 37, 37);
    color:rgb(236, 38, 38)
}
#btn-reset {
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    color:white;
    font-family: 'Roboto Mono', monospace;
    padding: 15px 25px;
    background-color:rgb(250, 37, 37);
    margin-left: 180px;
}
#btn-reset:hover{
    background-color:white;
    border:1px solid rgb(250, 37, 37);
    color:rgb(236, 38, 38)
}
footer{
    text-align: center;
    padding: 15px 25px;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(rgb(8, 8, 8),rgb(136, 136, 136));
    color: white;

}
